<ion-view view-title="Manja Checkout">

    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-android-arrow-back" ng-click='back()'></button>
      </ion-nav-buttons>

    </ion-nav-bar>


  <ion-content class="padding">
    <ion-checkout></ion-checkout> 
  </ion-content>

  <ion-checkout-footer class="bar bar-footer bar-balanced"></ion-checkout-footer> 


<!--  


<ion-side-menus>

  <ion-side-menu-content>

    <ion-header-bar class="bar-stable">
      <button class="button button-clear icon ion-android-arrow-back" ng-click='back()' style="padding-left: 8px;"></button>
        <h1 class="title">Manja Checkout</h1>
      <button class='button button-clear icon ion-ios-cart' ng-click='toggleRightSideMenu()'></button>
    </ion-header-bar>

    <ion-content class="padding">
      <ion-checkout></ion-checkout> 
    </ion-content>

    <ion-checkout-footer class="bar bar-footer bar-balanced"></ion-checkout-footer> 

  </ion-side-menu-content>

  <ion-side-menu side="right" width='300'>

    <ion-header-bar class="bar-stable">
      <button class="button button-clear icon ion-android-arrow-back" ng-click='back()'></button>
        <h1 class="title">Manja Checkout</h1>
      <button class='button button-clear icon ion-ios-cart' ng-click='toggleRightSideMenu()'></button>
    </ion-header-bar>

        <ion-content>
          <ion-cart products='cartProducts'></ion-cart>
        </ion-content>

      <ion-checkout-footer class="bar bar-footer bar-balanced"></ion-checkout-footer>
  </ion-side-menu>

</ion-side-menus>

-->