<ion-view view-title="Receipt">


  <ion-content class="padding receipt-bg">

  <div class="row row-center" style="padding-top: 50px;">
  <div class="col col-80 col-offset-10" style="text-align: center;"><img src="img/clock.png" style="width: 200px;">
  </div>
  </div>

  <div style="padding-top: 50px; padding-bottom: 50px">
    <h2 class="text-center light-text">WAHOO!</h2>
    <h4 class="text-center light-text">One of our runners is racing through <br/>
    the stadium with your goods. Sit <br />
    tight, relax, and enjoy the game.</h4>
  </div>

  <div class="row">
  <div class="col col-33 col-offset-33" style="text-align: center;">
  <button class="button button-block button-assertive" ng-click="goHome()">HOME</button>
  </div>
  </div>

<hr />

<button class="button button-full button-clear" style="height: 100%;">
  <p class="light-text">Email Receipt <i class="icon ion-android-arrow-forward"></i></p>
</button>


  </ion-content>




</ion-view>
