<ion-view view-title="Shopping Cart">

<ion-nav-bar class="bar-stable" align-title="center">
  <ion-nav-buttons side="left">
  <button ui-sref="manja-home" class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <button ui-sref="shopping-cart" class="button button-icon icon ion-ios-cart"></button>
  </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="padding">
	<ul class="list">
		<li class="item">
			<div class="row">

				<div class="col col-30">
					<div class="item drink-bg text-center">
						<img src="img/coke.png" style="height: 80px;">
					</div>
				</div>

				<div class="col col-30">
					<div class="item" style="border: none;">
						<strong>Coca Cola</strong><br/>
						<small>16.9 FL OZ.</small><br/><br/>
						<p>$3.00</p>
					</div>
				</div>

				<div class="col col-40">
					<div class="row" style="padding-top: 35px">
						<div class="col text-center">
				        	<img src="img/Mnus.svg" width="24" style="padding-top: 2px">
				        </div>
				        <div class="col text-center">
				        	<h1 style="font-size: 24px;">2</h1>
				        </div>
				        <div class="col text-center">
				        	<img src="img/Plussed.svg" width="24" style="padding-top: 2px">
				        </div>
				    </div>
				</div>

			</div>
		</li>


		<li class="item">
			<div class="row">

				<div class="col col-30">
					<div class="item drink-bg text-center">
						<img src="img/coke.png" style="height: 80px;">
					</div>
				</div>

				<div class="col col-30">
					<div class="item" style="border: none;">
						<strong>Coca Cola</strong><br/>
						<small>16.9 FL OZ.</small><br/><br/>
						<p>$3.00</p>
					</div>
				</div>

				<div class="col col-40">
					<div class="row" style="padding-top: 35px">
						<div class="col text-center">
				        	<img src="img/Mnus.svg" width="24" style="padding-top: 2px">
				        </div>
				        <div class="col text-center">
				        	<h1 style="font-size: 24px;">2</h1>
				        </div>
				        <div class="col text-center">
				        	<img src="img/Plussed.svg" width="24" style="padding-top: 2px">
				        </div>
				    </div>
				</div>

			</div>
		</li>

		<li class="item">
			<div class="row">

				<div class="col col-30">
					<div class="item drink-bg text-center">
						<img src="img/coke.png" style="height: 80px;">
					</div>
				</div>

				<div class="col col-30">
					<div class="item" style="border: none;">
						<strong>Coca Cola</strong><br/>
						<small>16.9 FL OZ.</small><br/><br/>
						<p>$3.00</p>
					</div>
				</div>

				<div class="col col-40">
					<div class="row" style="padding-top: 35px">
						<div class="col text-center">
				        	<img src="img/Mnus.svg" width="24" style="padding-top: 2px">
				        </div>
				        <div class="col text-center">
				        	<h1 style="font-size: 24px;">2</h1>
				        </div>
				        <div class="col text-center">
				        	<img src="img/Plussed.svg" width="24" style="padding-top: 2px">
				        </div>
				    </div>
				</div>

			</div>
		</li>

		<li class="item">
			<div class="row">
				<div class="col" style="padding-top: 25px">
					<h2>Tip?</h2>
				</div>
				<div class="col">
					<button class="button button-block button-stable">$1</button>
				</div>
				<div class="col">
					<button class="button button-block button-stable">$2</button>
				</div>
				<div class="col">
					<button class="button button-block button-stable">$3</button>
				</div>
				<div class="col">
					<button class="button button-block button-stable">Custom</button>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p><small>Sub-Total</small></p>
				</div>
				<div class="col text-right">
					<p><small>$9.00</small></p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p><small>Delivery Fee</small></p>
				</div>
				<div class="col text-right">
					<p><small>$3.00</small></p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p><small>Tip</small></p>
				</div>
				<div class="col text-right">
					<p><small>$0.00</small></p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p>TOTAL</p>
				</div>
				<div class="col text-right">
					<p>$12.00</p>
				</div>
			</div>
		</li>

	</ul>

	<button class="button button-block button-balanced">Select Seat</button>



</ion-content>


</ion-view>