<ion-view view-title="Register Home" name="start">

  <ion-content class="padding">

  <div class="row row-center">
  <div class="col col-80 col-offset-10" style="text-align: center;"><img src="img/manja.png" style="width: 200px;">
  </div>
  </div>

  <div class="row row-center">
  <div class="col col-80 col-offset-10 home-text"><p>Sign up to get food, drinks, <br/>and swag directly to your seat.</p>
  </div>
  </div>


  <div class="row row-bottom">
    <button class="button button-positive button-block fb-bg" ui-sref="fb-login">Start with Facebook</button>
  </div>

  <div class="row row-bottom">
      <button class="button button-light button-block" ui-sref="start">Start with email address</button>
  </div>

  <div class="row row-center" style="padding-top: 20px;">
      <p class="col col-80 col-offset-10 text-center grey"><small>Already have a Manja account? <a class="no-decoration balanced" ui-sref="loginHome">Login here</a></small></p>
  </div>



  </ion-content>

  <div class="bar bar-footer bar-clear">
  <div class="title" style="padding-top: 5px;"><small class="grey-text">Terms | <a ui-sref="privacy" class="no-decoration">Privacy</a></small></div>
  </div>

</ion-view>
